<% @casefiles.each do |casefile| %>
  <tr>
    <td><%= casefile.uid %></td>
    <td><%= casefile.name %></td>
    <td><%= casefile.nature %></td>
    <td><%= casefile.offence %></td>
    <td><%= casefile.year %></td>
    <td><%= casefile.status %></td>
    <td><%= link_to 'Show', casefile %></td>
    <td><%= link_to 'Edit', edit_casefile_path(casefile) %></td>
    <td><%= link_to 'Destroy', casefile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
