<%= form_with(model: casefile, local: true) do |form| %>
  <% if casefile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(casefile.errors.count, "error") %> prohibited this casefile from being saved:</h2>

      <ul>
      <% casefile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid, id: :casefile_uid %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :casefile_name %>
  </div>

  <div class="field">
    <%= form.label :nature %>
    <%= form.text_field :nature, id: :casefile_nature %>
  </div>

  <div class="field">
    <%= form.label :offence %>
    <%= form.text_field :offence, id: :casefile_offence %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.date_select :year, id: :casefile_year %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :casefile_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
