<p id="notice"><%= notice %></p>

<h1>Casefiles</h1>

<%= form_tag(casefiles_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Case Files" %>
<%= submit_tag "Search" %>
<% end %>

<% if @casefiles.present? %>
  <table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Nature</th>
      <th>Offence</th>
      <th>Year</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @casefiles.each do |casefile| %>
      <tr>
        <td><%= casefile.uid %></td>
        <td><%= casefile.name %></td>
        <td><%= casefile.nature %></td>
        <td><%= casefile.offence %></td>
        <td><%= casefile.year %></td>
        <td><%= casefile.status %></td>
        <td><%= link_to 'Show', casefile %></td>
        <td><%= link_to 'Edit', edit_casefile_path(casefile) %></td>
        <td><%= link_to 'Destroy', casefile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
 </table>
<% else %>
 <p>There are no case files containing the term(s) <%= params[:search] %>.</p>
<% end %>

<br>

<%= link_to 'New Casefile', new_casefile_path %>
