<%= form_tag(casefiles_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Case Files" %>
<%= submit_tag "Search" %>
<% end %>

<% if @casefiles.present? %>
  <%= render @casefiles %>
<% else %>
  <p>There are no case files containing the term(s) <%= params[:search] %>.</p>
<% end %>
