<p id="notice"><%= notice %></p>

<p>
  <strong>UID:</strong>
  <%= @casefile.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @casefile.name %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @casefile.nature %>
</p>

<p>
  <strong>Offence:</strong>
  <%= @casefile.offence %>
</p>

<p>
  <strong>Year:</strong>
  <%= @casefile.year %>
</p>

<p>
  <strong>Status:</strong>
  <%= @casefile.status %>
</p>

<%= link_to 'Edit', edit_casefile_path(@casefile) %> |
<%= link_to 'Back', casefiles_path %>
