<div class="container">
  <section>
    <img alt="Welcome" width="600" height="350" src="/images/intro.jpg" />

    <p class="version">
      <%= link_to 'New Casefile', new_casefile_path %>
      <br />
      <%= link_to 'Show Casefile', '/casefiles/' %>
    </p>

  </section>
 </div>
