// Place all the styles related to the casefiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// /

table {
  color: #333;
  /* Lighten up font color */
  // font-family: Helvetica, Arial, sans-serif;
  /* Nicer font */
  width: 640px;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  border: 1px solid #CCC;
  height: 30px;
}

th {
  border: 1px solid #CCC;
  height: 30px;
  background: #F3F3F3;
  /* Light grey background */
  font-weight: bold;
  /* Make sure they're bold */
}

/* Make cells a bit taller */

td {
  background: #FAFAFA;
  /* Lighter grey background */
  text-align: center;
  /* Center our text */
}

/* Cells in even rows (2,4,6...) are one color */

tr {
  &:nth-child(even) td {
    background: #F1F1F1;
  }
  &:nth-child(odd) td {
    background: #FEFEFE;
  }
  td:hover {
    background: #666;
    color: #FFF;
  }
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */

/* Hover cell effect! */

// /new

form {
  // background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  // background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  // background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 550px;
  // height: 450px;
  // font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  // font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  // border-radius: 10px;
  padding: 10px;
  // border: 1px solid #999;
  // border: inset 1px solid #333;
  // -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  // -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  // box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

button {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}

input.button:hover {
  background: #fff;
  color: #09C;
}

#error_explanation {
  margin-top: 10px;
}
