// Place all the styles related to the HelloWorld controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Georgia, sans-serif;
  line-height: 2rem;
  font-size: 1.3rem;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #000;
}

h1 {
  font-weight: normal;
  line-height: 2.8rem;
  font-size: 2.5rem;
  letter-spacing: -1px;
  color: black;
}

p { font-family: monospace; }

.container {
  width: 960px;
  margin: 0 auto 40px;
  overflow: hidden;
}


section {
  margin: 0 auto 2rem;
  padding: 1rem 0 0;
  width: 700px;
  text-align: center;
}
